<div class="list-child">
  <h1 class="list__title">
    Child list
  </h1> <!-- list__title -->

  <ul class="list__elements"
      *ngIf="d">
    <ng-container
        *ngFor="let e of d">
      <li>
        ID : {{ e.id }} <br>
        Date : {{ e.date | date:'yyyy/mm/dd' }} <br>
        Parent : {{ e.parent ? e.parent : "No parent" }}
      </li>
    </ng-container>
  </ul> <!-- list__elements -->
  
  <span class="list__noselected"
      *ngIf="d === null">
    Please, select one element from the list.
  </span> <!-- list__noselected -->

  <span class="list__nochild"
      *ngIf="d === undefined">
    This element has no child.
  </span> <!-- list__nochild -->
</div> <!-- list-child -->
 