.hidden {
  display: none;
}

.visible {
  display: block;
}

.cols {
  display: flex;
  flex-flow: row;
  margin: 0 -10px;
}

.col {
  flex: 1 1 100%;
  padding: 0 10px;
}

.col--1of2 {
  flex: 1 1 50%;
}