<div class="cols">
  <div class="col col--1of2">
    <app-parent-component></app-parent-component>
  </div> <!-- col col-/-1of2 -->

  <div class="col col--1of2">
    <app-child-component></app-child-component>
  </div> <!-- col col-/-1of2 -->
</div> <!-- cols -->