<div class="list-parent">
  <h1 class="list__title">
    Whole list
  </h1> <!-- list__title -->

  <ul class="list__elements">
    <ng-container 
        *ngFor="let d of data; let i = index">
      <li
          (click)="showChild(i)"
          *ngIf="d.parent === null">
        ID : {{ d.id }} <br>
        Date : {{ d.date * 1000 | date:'yyyy/MM/dd' }} <br>
        Parent : {{ d.parent ? d.parent : "No parent" }}
      </li>
    </ng-container>
  </ul> <!-- list__elements -->
</div> <!-- list-parent -->