.list-parent {
  padding: 50px;
  border: 4px solid #000;
  border-radius: 8px;
  background: #fff;
}

.list-parent .list__title {
  text-align: center;
}

.list-parent .list__elements {
  list-style: none;
}

.list-parent .list__elements li {
  cursor: pointer;
}

.list-parent .list__elements li + li {
  border-top: 1px solid #000;
  margin-top: 10px;
  padding-top: 10px;
}